	input[type=text] {
	    width: 100%;
	    padding: 2px 20px;
	    margin: 2px 0;
	    box-sizing: border-box;
	    border: 2px solid #C9C9C9;
	    -webkit-transition: 0.5s;
	    transition: 0.5s;
	    outline: none;
	}

	input[type=text]:focus {
		border: 2px solid #F5A9BC;
	}
	
	input[type=password] {
	    width: 100%;
	    padding: 2px 20px;
	    margin: 2px 0;
	    box-sizing: border-box;
	    border: 2px solid #C9C9C9;
	    -webkit-transition: 0.5s;
	    transition: 0.5s;
	    outline: none;
	}

	input[type=password]:focus {
		border: 2px solid #F5A9BC;
	}
	